<html>
	<body>
		<div class="jumbotron">
			<h1>Sales Assistant</h1>
			<p>The ultimate tool to put more time in your day to get the job done</p>
		</div>		
		

		<div>
			<img src="http://pestleanalysis.com/wp-content/uploads/2015/02/business-analysis.jpg">
		</div>

	</body>
</html>


